<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Team</title>
  <style>
  .create-container{
    margin-top:10px;
    margin-bottom:10px;
  }
  .table-container {
    margin-top:20px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #D8C3FE;
  }
  tr:nth-child(odd) {
    background-color: #9259FB;
  }
</style>
</head>
<body>
<img src="https://i.lgtm.fun/2id3.gif"/>
<div class="create-container">
  <form action="/greeting"method="GET">
    <label for="name">팀원을 입력해주세요.</label>
    <input type = "text" id="name"name="name"size="30" placeholder="예:홍길동,문익점,김선달,정약용,이순신">
    <button type="submit">팀생성</button>
  </form>
</div>
<form action="/team"method="GET">
  <label for="teamMember">조회할 팀원을 입력해주세요.</label>
  <input type = "text" id="teamMember"name="teamMember"size="10" placeholder="예:홍길동">
  <button type="submit">조회</button>
</form>

<div class = "table-container">
  <table>
    <tr>
      <td th:text = "팀원이름"></td>
      <td th:text = "팀원수"></td>
    </tr>
    <tr th:each="teams:${teams}">
      <td th:text="${teams}"/>
      <td th:text="${teams.size()}"/>
    </tr>
  </table>
</div>
</body>
</html>